*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
	font-family: 'jost',sans-serif;
	list-style:none;
	text-decoration:none;
	
}
.logo img{
	float:left;
	width:150px;
	height:auto;
}
header{
	position: fixed;
	width:100%;
	top:0;
	right:0;
	z-index:1000;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding: 7px 10%;
	top:2%;
	border-radius:50px;
	margin:5px 0;
	background-color: Black;
	
}
header.sticky {
    position: fixed;
    top: 1%;
    left: 0%;
	right:1%;
    width: 100%;
    background: Black;
    padding: 3px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
    z-index: 1000; 
}
.logo img{
	max-width:120px;
	height:auto;
}
.menu{
	display:flex;
}
.menu a{
	color:white;
	font-size:16px;
	text-transform:capitalize;
	padding: 20px 20px;
	font-weight:400;
	transition:all .42s ease;
}
.menu a:hover{
	color: lightblue;
}
.icon{
	display:flex;
	align-items:center;
}
.icon i{
	margin-right:20px;
	color:white;
	font-size:25px;
	font-weight: 400;
	transition:all .42s ease;
}
.icon i:hover{
	transform:scale(1.1);
	color:red;
}
#icon{
	font-size:30px;
	color:white;
	z-index:10001;
	cursor:pointer;
}
footer {
    background-color: #f8f9fa;
    padding: 40px 0;
	height:300px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
	
}
.container h4{
	color:#212529;
	font-size:20px;
	text-transform:uppercase;
	margin-bottom:10px;
}
.container p{
	color:black;
}
.so-icon i{
	color:black;
}
.so-icon i:hover{
	transform:scale(1.3);
}
.container p:hover{
	color:red;
}

.first-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-info img {
    width: 140px;
    height: 70px;
}

.first-info ,
.secinfo,
.thinfo,
.foinfo,
.five {
	
    margin-top: 10px;
}
.first-info p,
.secinfo h4,
.thinfo h4,
.foinfo h4,
.five h4 {
    margin-bottom: 10px;
}
.first-info p,
.secinfo p,
.thinfo p,
.foinfo p,
.five p {
    margin-bottom: 5px;
}
.end-text {
	background-color:#edfff1;
	text-align:center;
	padding:10px;
}
.end-text p{
	color:#111;
	text-transform:capitalize;
}

@media(max-width:890px){
	header{
		padding:20px 3%;
		transition:1s;
	}
}

@media(max-width:750px){
	.menu{
		position:absolute;
		top:100%;
		right:-100%;
		width:300p;
		height:100vh;
		background:silver;
		display:flex;
		flex-direction:column;
		align-items:center;
		padding:120px 30px;
		transition:all .42s;
	}
	.menu a{
		display:block;
		margin:8px 0;
	}
	.menu.open{
		right:0;
	}
}
.hero{
	background-color:#f8f8f8;
	overflow:hidden;
}
.heading h1{
	color:brown;
	font-size:55px;
	text-align:center;
	margin-top:40px;
	padding:7%;
}
.con{
	color:black;
	display:flex;
	justify-content:cennter;
	align-items:center;
	width:90%;
	margin:5px auto;
}
.hero-con{
	flex:1;
	width:600px;
	margin:0px 25px;
	animation:fadeInRight 2s ease;
}
.image{
	flex:1;
	width:600px;
	margin:1px;

}
img{
	width:100%;
	height:auto;
	border-radius:10px;
	
}
.hero-con h2{
	font-size:38px;
	margin-bottom:20px;
	color:#333;
}
.hero-con p{
	font-size:18px;
	line-height:1.5;
	margin-bottom:20px;
	color:#666;
}
.hero-con button{
	display:inline-block;
	background-color:brown;
	color:#fff;
	padding:12px 24px;
	border-radius:5px;
	font-size:20px;
	border:none;
	cursor:pointer;
	transition:0.3s ease;
}
.hero-con button:hover{
	background-color:orange;
	transform:scale(1.1)
}

@media screen and (max-width:768px){
	heading h1{
		font-size:45px;
		margin-top:30px;
	}
	.hero{
		margin:0px;
	}
	.con{
		width:100%;
		flex-direction:column;
		margin:0px;
		paadding:0px 40pxx;
	}
	.hero-con{
		width:100%;
		margin:35px 0px;
	}
	.hero-con h2{
		font-size:30px;
	}
	.hero-con p{
		font-size:18px;
		margin-bottom:20px;
	}
	.hero-con button{
		font-size:16px;
		padding:8px 16px;
	}
	.image{
		width:100%;
	}
}
@keyframes fadeInUp{
	0%{
		opacity:0;
		transform:translateY(50px);
	}
	100%{
		opacity:0;
		transform:translateY(0px);
	}
	
}
@keyframes fadeInRight{
	0%{
		opacity:0;
		transform:translateY(50px);
	}
	100%{
		opacity:1;
		transform:translateY(0px);
	}
	
}
.but{
	display:flex;
	flex-direction:column;
}
.butto {
	display:none;
}
.butto--show{
	display:inline;
}

	
	





