* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10%;
    top: 2%;
    border-radius: 50px;
    margin: 5px 0;
    background-color: black;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    font-size: 16px;
    text-transform: capitalize;
    padding: 20px 20px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.menu a:hover {
    color: lightblue;
}

.icon {
    display: flex;
    align-items: center;
}

.icon i {
    margin-right: 20px;
    color: white;
    font-size: 25px;
    font-weight: 400;
    transition: all 0.42s ease;
}

.icon i:hover {
    transform: scale(1.1);
    color: red;
}

#icon {
    font-size: 30px;
    color: white;
    z-index: 10001;
    cursor: pointer;
}

footer {
    background-color: #f8f9fa;
    padding: 40px 0;
    height: 300px;
}

body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:first-child {
    width: 150px; /* Adjust as needed */
}

a {
    color: #007bff; /* Blue link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Underline on hover */
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
